@import "../../../fonts.scss";
@import "../../../styles.scss";

$main_color: #17153b;

$modal_buttons_width: 30%;
$modal_buttons_padding_v: 5px;
$modal_buttons_font_size: 14pt;
$modal_buttons_radio: 5px;

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// ------------- DESKTOP TABLES --------------------
#stats-table {
    td {
        //margin: 0 5px 0 5px;
        text-align: center;

        .empty-span {
            min-width: 7vh;
        }

        img {
            width: 7vh;
        }
    }
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $mh_font;
    background-color: $color1;
    width: 100%;
    padding: 5px;

    img {
        width: 30%;
        aspect-ratio: 16 / 9;
    }

    h1 {
        padding-left: 10px;
        color: white;
        text-shadow: black 2px 2px 0;
    }
}

.save-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    margin: 10px 0 10px 0;

    img {
        width: 3vh;
        height: 3vh;
        margin: 0 5px 0 5px;
    }

    button {
        background-color: $color2;
        border: 2px solid $color2;
        border-radius: 5px;
        color: white;
        padding: 5px 10px 5px 5px;
        margin: 0 0 0 5px;
    }
}

.main-container {
    width: 90%;
    height: 50%;
}

.stats-container {
    h1 {
        font-family: $mh_font;
        font-style: italic;
    }
}

.dashboard-container-mobile {
    margin-top: 20px;

    .component-container {
        border: 1px solid $color1;
        border-radius: 5px;
    }
}

.dashboard-container-desktop {
    display: none;
}

.dash-btn {
    border: 1px solid $color1;
    border-radius: 0 10px 0 0;
    margin: 0 1px 0 0;

    font-size: 14pt;
    font-family: $mh_font;

    color: grey;
    background-color: $color1;
    //padding: 5px 30px 5px 5px;
    width: 25vw;
}

.dash-btn.active {
    color: white;
    font-size: 22pt;
    margin: 0 10px 0 10px;
    // padding: 0 15px 0 5px;
    width: 33vw;
}

/* .save-set-modal-body {
    margin: 0 5px 0 5px;
} */

#removeConfModal {
    .modal-header {
        background-color: $color1;
        padding: 10px 0 10px 0;

        h5 {
            color: white;
            width: 100%;
            text-align: center;
            font-family: $mh_font;
        }
    }

    .modal-body {
        background-color: $color1;
        h6 {
            text-align: center;
            margin: 20px;
            color: white;
        }
    }
}

#setNameNotAvailableModal {
    .modal-header {
        background-color: $color1;

        font-family: $mh_font;
        color: white;

        h1 {
            width: 100%;
            text-align: center;
        }
    }

    .modal-body {
        padding: 10px;
        text-align: center;
    }
}

#loadSetModal {
    p {
        user-select: none;
    }

    .modal-header {
        background-color: $color1;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            height: 5vh;
        }

        p {
            //width: 10%;
            text-align: center;
            color: white;
            font-family: $mh_font;
            font-size: 20pt;
        }
    }

    .modal-body {
        height: 60vh;
    }

    .main-set-container {
        background-color: $color1;
        padding: 10px;
        margin: 10px;
        border-radius: 15px;
    }

    .armor-set-modal-container {
        background-color: white;
        padding: 5px;

        border-radius: 10px;
    }

    .set-name {
        width: 100%;
        margin-bottom: 10px;
        background-color: $color1;
        font-family: $mh_font;
        font-size: 16pt;
        text-align: center;
        color: white;

        border-bottom: 1px solid white;
    }

    .set-buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        //padding: 10px 0 10px 0;
        margin-top: 10px;
    }
}

.flex-modal-body {
    // background-color: $color1;
}

.flex-modal-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color1;
    padding: 5px;
}

.modal-btn {
    width: $modal_buttons_width;

    font-size: $modal_buttons_font_size;
    font-family: $mh_font;
    color: white;
    padding: $modal_buttons_padding_v 0 $modal_buttons_padding_v 0;
    border-radius: 10px;
}

.red-bg-btn {
    background-color: red;
    border: 0;

    &:hover {
        background-color: rgb(252, 64, 64);
    }
}

.green-bg-btn {
    background-color: green;
    border: 1px solid green;
}

.blue-bg-btn {
    background-color: rgb(52, 52, 240);
    border: 0;

    &:hover {
        background-color: rgb(84, 84, 245);
    }
}

@media screen and (min-width: 1000px) {
    .main-container {
        display: flex;
        justify-content: space-around;

        .first-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 30%;
            height: 80vh;
        }
    }

    .nav-bar {
        height: 10vh;

        $childs_margin: 20px;
        img {
            width: 9%;
            margin-left: $childs_margin;
        }

        h1 {
            margin-right: $childs_margin;
            user-select: none;
        }
    }

    .dashboard-container-mobile {
        display: none;
    }

    .dashboard-container-desktop {
        display: block;
        margin-top: 5vh;
        height: 80vh;
        width: 50vw;
        $childs_width: 100%;

        .accordion-body {
            width: $childs_width;
            max-height: 60vh;
            overflow-y: scroll;
        }

        .accordion-header {
            width: $childs_width;

            background-color: $color1;
            border: 0;

            h2 {
                height: 5vh;
            }
            button {
                background-color: $color1;
                border: 0;
                padding-left: 10px;
                color: white;
                text-align: center;

                font-family: $mh_font;
                font-style: italic;
                font-size: 20pt;
            }
        }
    }

    .modal {
        .modal-horizontal-center {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
        }
    }
}
