<div class="main-div">
    <nav class="nav-bar">
        <img src="assets/images/MHP3rd_Logo.webp" alt="Mhlogo">
        <h1>Build Maker</h1>
    </nav>
    <div class="main-container">
        <div class="first-container">

          <div class="armor-set-container">
            <app-armor-slot
                [bodyPart]="partToDisplay.helmet"
                [_class]="equipedArmor.get(partToDisplay.helmet) ? equipedArmor.get(partToDisplay.helmet)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.helmet) ? equipedArmor.get(partToDisplay.helmet)!.rare : 1"
                [name]="equipedArmor.get(partToDisplay.helmet) ? equipedArmor.get(partToDisplay.helmet)!.name : ''"
                (checkBoxChangeEvent)="helmetDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.helmet)"
                />
            <app-armor-slot
                [bodyPart]="partToDisplay.plate"
                [_class]="equipedArmor.get(partToDisplay.plate) ? equipedArmor.get(partToDisplay.plate)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.plate) ? equipedArmor.get(partToDisplay.plate)!.rare : 1"
                [name]="equipedArmor.get(partToDisplay.plate) ? equipedArmor.get(partToDisplay.plate)!.name: ''"
                (checkBoxChangeEvent)="plateDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.plate)"
            />
            <app-armor-slot
                [bodyPart]="partToDisplay.guantlets"
                [_class]="equipedArmor.get(partToDisplay.guantlets) ? equipedArmor.get(partToDisplay.guantlets)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.guantlets) ? equipedArmor.get(partToDisplay.guantlets)!.rare : 1"
                [name]="equipedArmor.get(partToDisplay.guantlets) ? equipedArmor.get(partToDisplay.guantlets)!.name : ''"
                (checkBoxChangeEvent)="guantletsDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.guantlets)"
            />
            <app-armor-slot
                [bodyPart]="partToDisplay.waist"
                [_class]="equipedArmor.get(partToDisplay.waist) ? equipedArmor.get(partToDisplay.waist)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.waist) ? equipedArmor.get(partToDisplay.waist)!.rare : 1"
                [name]="equipedArmor.get(partToDisplay.waist) ? equipedArmor.get(partToDisplay.waist)!.name: ''"
                (checkBoxChangeEvent)="waistDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.waist)"
            />
            <app-armor-slot
                [bodyPart]="partToDisplay.leggings"
                [_class]="equipedArmor.get(partToDisplay.leggings) ? equipedArmor.get(partToDisplay.leggings)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.leggings) ? equipedArmor.get(partToDisplay.leggings)!.rare : 1"
                [name]="equipedArmor.get(partToDisplay.leggings) ? equipedArmor.get(partToDisplay.leggings)!.name : ''"
                (checkBoxChangeEvent)="legginsDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.leggings)"
                />
          </div>
          <p style="font-size: 12px; color: grey; text-align: center; margin: 10px">
              Mark the checkbox as done if you have the part arleady.
          </p>

          <div class="save-div">
              <button (click)="onSaveButtonClick()"><img src="assets/images/save-floppy.svg" alt=""> Save Set</button>
              <button (click)="onLoadBtnClick()"><img src="assets/images/bookmark.svg" alt="">Saved Sets</button>
          </div>
        </div>

        <div class="dashboard-container-mobile">
            <div>
                <button (click)="[showOnMobile = 0]"
                [ngClass]="showOnMobile === 0 ? 'dash-btn active' : 'dash-btn'">Stats</button>
                <button (click)="[showOnMobile = 1]"
                [ngClass]="showOnMobile === 1 ? 'dash-btn active' : 'dash-btn'">Skills</button>
                <button (click)="[showOnMobile = 2]"
                [ngClass]="showOnMobile === 2 ? 'dash-btn active' : 'dash-btn'">Resources</button>
            </div>
            <div class="component-container"  [ngSwitch]="showOnMobile">
                <app-stats-box *ngSwitchCase="0" [armor]="equipedArmorArray"></app-stats-box>
                <app-skills-box *ngSwitchCase="1" [armor]="equipedArmorArray"></app-skills-box>
                <app-resources-box *ngSwitchCase="2" [armor]="equipedArmorArrayResources"></app-resources-box>
            </div>
        </div>

        <div class="dashboard-container-desktop">

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  STATS
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <app-stats-box [armor]="equipedArmorArray"></app-stats-box>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  SKILLS
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <app-skills-box [armor]="equipedArmorArray"></app-skills-box>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  RESOURCES
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <app-resources-box [armor]="equipedArmorArrayResources"></app-resources-box>
                </div>
              </div>
            </div>
          </div>

        </div>
</div>

<!-- ONE PART MODAL -->
<div *ngIf="equipedArmor.get(selectedPart) != null"
class="modal fade" id="pieceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-horizontal-center">

      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <img [src]="'assets/ArmorIcons/'+selectedPart+'/rare'+equipedArmor.get(selectedPart)?.rare+'.png'" alt="">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              {{equipedArmor.get(selectedPart) ? equipedArmor.get(selectedPart)!.name : ""}}
            </h1>
            <span>
              <img src="assets/wepons/greatsword1.png" alt=""
              [style]="equipedArmor.get(selectedPart)!.class === 0 || equipedArmor.get(selectedPart)!.class === 2? 'display: block': 'display: none'">
              <img src="assets/wepons/lightbowgun1.png" alt=""
              [style]="equipedArmor.get(selectedPart)!.class === 1 || equipedArmor.get(selectedPart)!.class === 2? 'display: block': 'display: none'">
            </span>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
          </div>
          <div class="modal-body" data-bs-theme="dark">
            <div class="title"><h4>Stats</h4></div>
            <app-stats-box [armor]="[equipedArmor.get(selectedPart)!]"/>
            <div class="title rev"><h4 style="text-align: end;">Skills</h4></div>
            <app-skills-box [armor]="[equipedArmor.get(selectedPart)!]"/>
            <div class="title"><h4>Resources</h4></div>
            <app-resources-box [armor]="[equipedArmor.get(selectedPart)!]"/>
          </div>
          <div class="modal-footer my-modal-footer">
            <button type="button" class="btn btn-secondary" id="closeBtn" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="removeBtn" data-bs-dismiss="modal" (click)="RemoveSelectedPart()">Remove</button>
            <button type="button" class="btn btn-primary" id="changeBtn" data-bs-dismiss="modal" (click)="ChangeSelectedPart()">Change</button>
          </div>
        </div>
      </div>
    </div>
  </div>



<!-- SAVE SET MODAL -->
<div class="modal fade" id="saveSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-horizontal-center">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 id="exampleModalLabel" style="user-select: none;">
              Saving current set..
            </h1>
          </div>
          <div class="modal-body flex-modal-body">
            <input type="text" [(ngModel)]="setNameToSave" placeholder="New set name">
            <app-armor-set-modal [equipedArmor]="equipedArmor"></app-armor-set-modal>
          </div>
          <div class="modal-footer flex-modal-footer">
            <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal" (click)="setNameToSave=''">Close</button>
            <button type="button" class="btn btn-primary modal-btn blue-bg-btn" (click)="onSaveConfirmBtnClick()" [disabled]="setNameToSave === ''"data-bs-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- SET NAME NOT AVAILABLE MODAL -->
<div class="modal fade" id="setNameNotAvailableModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-horizontal-center">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel" style="user-select: none;">
            Set name used!
          </h1>
        </div>
        <div class="modal-body">
          <p>You have a set named <strong>"{{setNameToSave}}"</strong> already, do you want to overwrite it?</p>
        </div>
        <div class="modal-footer flex-modal-footer">
          <button class="modal-btn red-bg-btn" data-bs-dismiss="modal">No</button>
          <button class="modal-btn green-bg-btn" (click)="onOverwriteSetClickBtn()" data-bs-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- LOAD SETS MODAL -->
<div class="modal fade" id="loadSetModal" tabindex="-1">

  <div class="modal-horizontal-center">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <p>Your saved sets</p>
          <img src="assets/images/VillageIcon15.png" alt="">
        </div>
        <div class="modal-body">
          <div class="sets-container" *ngIf="savedArmorSets.length > 0; else noSavedSets">

            <div *ngFor="let armorSet of savedArmorSets" class="main-set-container">
              <p class="set-name" style="user-select: none;">{{armorSet[0]}}</p>
              <div class="armor-set-modal-container">
                <app-armor-set-modal [equipedArmor]="armorSet[1]"/>
              </div>
              <div class="set-buttons-container">
                <button (click)="onClickSetBtn(armorSet[1])" data-bs-dismiss="modal" class="modal-btn blue-bg-btn">Equip</button>
                <button (click)="onClickRemoveBtn(armorSet[0])" class="modal-btn red-bg-btn">Remove</button>
              </div>
            </div>

          </div>
          <ng-template #noSavedSets>
            <div class="no-saves-div">
              <h1 style="user-select: none; width: 100%; text-align: center;">No saved sets found</h1>
              <img src="assets/images/mh404.png" alt="not found palico" style="width: 30vh; aspect-ratio: 1/1;">
              <p style="width: 80%; text-align: center; margin: 10px 10% 0 10%">
                Remember that the stets are saved in your local browser storage. <br>
                If you changed your browser or device you won't be able to access your saved sets. <br>
                If you deleted your storage data for this site, your sets should have been deleted.
              </p>
            </div>
          </ng-template>
        </div>
        <div class="modal-footer flex-modal-footer">
          <button type="button" class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONFIRM SET REMOVE MODAL -->
<div class="modal fade" id="removeConfModal" tabindex="-1">

  <div class="modal-horizontal-center">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Remove confirmation</h5>
        </div>
        <div class="modal-body">
          <h6><strong>Are you sure you want to remove this set?</strong></h6>
        </div>
        <div class="modal-footer flex-modal-footer">
          <button class="btn btn-secondary modal-btn" data-bs-dismiss="modal">Cancel</button>
          <button class="btn modal-btn red-bg-btn" data-bs-dismiss="modal" (click)="removeSet()">Remove</button>
        </div>
      </div>
    </div>
  </div>
</div>
