@import url('../../../fonts.scss');
@import '../../../styles.scss';

$main_color: #17153B;


.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;
    background-color: $color1;
    width: 100%;
    padding: 5px;

    img {
        width: 30%;
        height: 30%;
    }

    h1 {
        padding-left: 10px;
        color:white;
        text-shadow: black 2px 2px 0;
    }
}

.save-div {
    
    button {

        border: 0px;
        background-color: $color2;
        padding:5px;

        font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;
        color: white;
        img {
            width: 2vh;
            height: 2vh;
        }
    }
}

.main-container{

    width: 90%;
    height: 50%;
}

.stats-container {
    h1 {
        font-family: 'MonsterHunterFont',Arial, Helvetica, sans-serif;
        font-style: italic;
    }
}

.dashboard-container-mobile {
    margin-top: 20px;

    .component-container {
        border: 1px solid $color1;
        border-radius: 5px;
    }
}

.dash-btn {

    border: 1px solid $color1;
    border-radius: 0 10px 0 0;
    margin: 0 1px 0 0;
    
    font-size: 14pt;
    font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;

    color: grey;
    background-color: $color1;
    //padding: 5px 30px 5px 5px;
    width: 25vw;


}

.dash-btn.active {
    color:white;
    font-size: 22pt;
    margin: 0 10px 0 10px;
    // padding: 0 15px 0 5px;
    width: 33vw;
}