<div class="main-div">
    <div class="title-container">
        <img src="assets/images/MHP3rd_Logo.webp" alt="Mhlogo">
        <h1>Build Maker</h1>
    </div>
    <div class="main-container">
        <div class="armor-set-container">
            <app-armor-slot 
                [bodyPart]="partToDisplay.helmet" 
                [_class]="equipedArmor.get(partToDisplay.helmet) ? equipedArmor.get(partToDisplay.helmet)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.helmet) ? equipedArmor.get(partToDisplay.helmet)!.rare : 1" 
                [name]="equipedArmor.get(partToDisplay.helmet) ? equipedArmor.get(partToDisplay.helmet)!.name : 'Click to equip'"
                (checkBoxChangeEvent)="helmetDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.helmet)"
                />
            <app-armor-slot 
                [bodyPart]="partToDisplay.plate" 
                [_class]="equipedArmor.get(partToDisplay.plate) ? equipedArmor.get(partToDisplay.plate)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.plate) ? equipedArmor.get(partToDisplay.plate)!.rare : 1" 
                [name]="equipedArmor.get(partToDisplay.plate) ? equipedArmor.get(partToDisplay.plate)!.name: 'Click to equip'"
                (checkBoxChangeEvent)="plateDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.plate)"
            />
            <app-armor-slot 
                [bodyPart]="partToDisplay.guantlets" 
                [_class]="equipedArmor.get(partToDisplay.guantlets) ? equipedArmor.get(partToDisplay.guantlets)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.guantlets) ? equipedArmor.get(partToDisplay.guantlets)!.rare : 1" 
                [name]="equipedArmor.get(partToDisplay.guantlets) ? equipedArmor.get(partToDisplay.guantlets)!.name : 'Click to equip'"
                (checkBoxChangeEvent)="guantletsDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.guantlets)"
            />
            <app-armor-slot 
                [bodyPart]="partToDisplay.waist" 
                [_class]="equipedArmor.get(partToDisplay.waist) ? equipedArmor.get(partToDisplay.waist)!.class : null" 
                [rare]="equipedArmor.get(partToDisplay.waist) ? equipedArmor.get(partToDisplay.waist)!.rare : 1" 
                [name]="equipedArmor.get(partToDisplay.waist) ? equipedArmor.get(partToDisplay.waist)!.name: 'Click to equip'"
                (checkBoxChangeEvent)="waistDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.waist)"
            />
            <app-armor-slot 
                [bodyPart]="partToDisplay.leggings" 
                [_class]="equipedArmor.get(partToDisplay.leggings) ? equipedArmor.get(partToDisplay.leggings)!.class : null"
                [rare]="equipedArmor.get(partToDisplay.leggings) ? equipedArmor.get(partToDisplay.leggings)!.rare : 1" 
                [name]="equipedArmor.get(partToDisplay.leggings) ? equipedArmor.get(partToDisplay.leggings)!.name : 'Click to equip'"
                (checkBoxChangeEvent)="legginsDone = $event.valueOf()"
                (pressedArmorSlotEvent)="selectPart(partToDisplay.leggings)"
                />
        </div>
        <p style="font-size: 12px; color: grey; text-align: center;">
            Mark the checkbox as done if you have the part arleady.
        </p>

        <div class="save-div">
            <button (click)="onSaveButtonClick()"><img src="assets/images/save2.png" alt=""> Save Set!</button>
            <button (click)="onLoadBtnClick()"><img src="assets/images/book2.png" alt="">View saved sets</button>
        </div>

        <div class="dashboard-container-mobile" *ngIf="(isMobile | async); else desktopTemplate">
            <div>
                <button (click)="[showOnMobile = 0]"
                [ngClass]="showOnMobile === 0 ? 'dash-btn active' : 'dash-btn'">Stats</button>
                <button (click)="[showOnMobile = 1]"
                [ngClass]="showOnMobile === 1 ? 'dash-btn active' : 'dash-btn'">Skills</button>
                <button (click)="[showOnMobile = 2]"
                [ngClass]="showOnMobile === 2 ? 'dash-btn active' : 'dash-btn'">Resources</button>
            </div>
            <div class="component-container"  [ngSwitch]="showOnMobile">
                <app-stats-box *ngSwitchCase="0" [armor]="equipedArmorArray"></app-stats-box>
                <app-skills-box *ngSwitchCase="1" [armor]="equipedArmorArray"></app-skills-box>
                <app-resources-box *ngSwitchCase="2" [armor]="equipedArmorArrayResources"></app-resources-box>
            </div>
        </div>

        <ng-template #desktopTemplate>
            Hola pero desktop
        </ng-template>

    </div>
</div>

<app-piece-modal 
    [armor]="equipedArmor.get(selectedPart)!"
    [bodyPart]="selectedPart"
    (changeEventEmitter)="ChangeSelectedPart()"
    (removeEventEmitter)="RemoveSelectedPart()"
/>

<!-- SAVE SET MODAL -->
<div class="modal fade" id="saveSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Saving current set..
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body save-set-modal-body">
          <div>
            <label for="">Set Name: </label><input type="text" [(ngModel)]="savedSetName" placeholder="Your new set"></div>
          <div>
          <div>
            <app-armor-set-modal [equipedArmor]="equipedArmor"></app-armor-set-modal>
          </div>
        </div>
        </div>
        <div class="modal-footer save-set-modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="savedSetName=''">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSaveConfirmBtnClick()" [disabled]="savedSetName === ''"data-bs-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>


<!-- LOAD SETS MODAL -->
<div class="modal fade" id="loadSetModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Saved sets</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="savedArmorSets.length > 0; else noSavedSets">

            <div *ngFor="let armorSet of savedArmorSets">
              <h1>{{armorSet[0]}}</h1>
              <app-armor-set-modal [equipedArmor]="armorSet[1]"/>
              <button (click)="onClickSetBtn(armorSet[1])" data-bs-dismiss="modal">Equip</button>
              <button (click)="onClickRemoveBtn(armorSet[0])">Remove</button>
            </div>

          </div>
          <ng-template #noSavedSets>
            <h1>No saved sets found.</h1>
            <p>
              Remember that the stets are saved in your local browser storage. <br>
              If you changed your browser or device you won't be able to access your saved sets. <br>
              If you deleted your storage data for this site, your sets should have been deleted.
            </p>
          </ng-template>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<!-- CONFIRM SET REMOVE MODAL -->
<div class="modal fade" id="removeConfModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove confirmation</h5>
      </div>
      <div class="modal-body">
        <h1>Are you sure you want to remove this set?</h1>
        <button data-bs-dismiss="modal" (click)="removeSet()">Acept</button>
        <button data-bs-dismiss="modal">Cancel</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>