<div>
    <div class="item fade-in" *ngFor="let key of equipedArmorKeys">
        <img [src]=" 'assets/ArmorIcons/'+ key +'/rare'+ equipedArmor.get(key)!.rare +'.png' " alt="">
        <h6>{{equipedArmor.get(key)?.name}}</h6>
        <span>
            <img src="assets/wepons/greatsword1.png" alt="class: Blade Master" *ngIf="[0, 2].includes(equipedArmor.get(key)!.class)" >
            <img src="assets/wepons/lightbowgun1.png" alt="class: Gunner" *ngIf="[1, 2].includes(equipedArmor.get(key)!.class)">
        </span>
    </div>
</div>