<div class="main-container">
    <div class="flex-div">
        <div class="item-name">
            <img [src]="imagePath" alt="">
            <p>{{item.name}}</p>
            <div class="flex-col">
                <img 
                    src="../../../../assets/wepons/greatsword1.png" 
                    alt="blademaster class"
                    *ngIf="item.class === 0 || item.class === 2">
                <img 
                src="../../../../assets/wepons/lightbowgun1.png" 
                alt="blademaster class"
                *ngIf="item.class === 1 || item.class === 2">
            </div>
        </div>
        <div class="armor-item-stats">
            <h1>STATS</h1>
            <ul>
                <li><span>Rare:</span>{{item.rare}}</li>
                <li><span>Defense:</span>{{item.defense}}</li>
                <li><span>Slots:</span>{{item.slots}}</li>
                <li><span>Fire:</span>{{item.fire_res}}</li>
            </ul>
            <ul>
                <li><span>Water:</span>{{item.water_res}}</li>
                <li><span>Thunder:</span>{{item.thunder_res}}</li>
                <li><span>Ice:</span>{{item.ice_res}}</li>
                <li><span>Dragon:</span>{{item.dragon_res}}</li>
            </ul>
        </div>

        <div class="armor-item-skills">
            <h1>SKILLS</h1>
            <ul>
                <li *ngFor="let skill of skillsMap" [ngStyle]="{'background-color': (skill[1] > 0) ? 'green' : 'red'}">{{skill[0]}}: {{skill[1]}}</li>
            </ul>
        </div>
        <input type="button" value="EQUIP" class="equip-btn" (click)="onEquipBtnClick()">
    </div>
        
</div>