@import url('../../../../fonts.scss');
@import '../../../../styles.scss';


$border-radius-value: 5px;
$titles-font-size: 15pt;

.main-container {
    width: 100%;
    height: fit-content;
    box-shadow: 5px 6px #c5c3c3;
    border-radius: 10px;
}

.flex-div{
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.item-name {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius-value $border-radius-value 0 0;
    // border: 1px solid black;
    border-bottom: 0;
    background-color: $color1;
    // margin: 0 5px 0 5px;
    padding: 5px 2px 5px 2px;

    text-align: center;
    text-justify:distribute;
    color: white;

    font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;
    font-size: 18pt;

    img {
        width: 4vh;
        height: 4vh;
    }


    .flex-col {

        img{
            width: 4vh;
            height: 4vh;
        }
    }

}

.armor-item-table {
    // background-color: $color4;
    border: 1px solid rgb(204, 199, 199);
    // border-radius: 0 0 $border-radius-value $border-radius-value;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;


    th {
        border-bottom: 1px solid black;
        padding-left: 5px;
        // text-align: center;
        // background-color: $color2;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    td {
        padding-left: 5px;
        // border-right: 1px solid black;
    }

    li {
        list-style: none;
        // border-bottom: 1px solid black;
    }
    .mid-data-cell {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }
    
    .title {
        font-weight: bold;
        text-align: center;
        // border: 1px solid black;
    }
}

.armor-item-stats {
    width: 100%;
    margin: 5px 0 5px 0;

    h1 {
        font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;
        font-size: $titles-font-size;
        margin: 0 0 10px 5px;
    }

    ul {
        display: inline-block;
        width: 50%;
        list-style: none;
        //margin: 0 5px 0 5px;
        //border: 1px solid black;
        
        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            margin: 0 10px 0 10px;
        }
    }
}

.armor-item-skills {

    margin: 5px 0 5px 0;

    h1 {
        font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;
        font-size: $titles-font-size;
        margin: 5px 2px 5px 2px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        // background-color: red;
    }

    li {
        display: inline-block;
        margin: 2px;
        padding: 2px 5px 2px 5px;
        $radius: 100px;
        border-radius: $radius $radius $radius $radius;

        color: white;
        font-size: 11pt;
    }
}


.equip-btn {
    border: 0;
    border-radius: 0 0 $border-radius-value $border-radius-value;
    padding: 10px 0 10px 0;
    font-family: 'MonsterHunterFont', Arial, Helvetica, sans-serif;
    font-size: 16pt;
    background-color: $color2;
    width: 100%;

    color: white;
    font-weight: bold;
}

@media screen and (min-width: 1270px) {
    
}