<div class="main-container">
    <div class="flex-div">
        <div class="item-name">
            <img [src]="imagePath" alt="">
            <p>{{item.name}}</p>
            <div class="flex-col">
                <img 
                    src="../../../../assets/wepons/greatsword1.png" 
                    alt="blademaster class"
                    *ngIf="item.class === 0 || item.class === 2">
                <img 
                src="../../../../assets/wepons/lightbowgun1.png" 
                alt="blademaster class"
                *ngIf="item.class === 1 || item.class === 2">
            </div>
        </div>
        <table class="armor-item-table">
            <tr>
                <th>Stats</th>
                <th>Elem Res</th>
                <th>Skills</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <!-- <li>Class: {{item.class}}</li> -->
                        <li>Rare: {{item.rare}}</li>
                        <li>Defense: {{item.defense}}</li>
                        <li>Slots: {{item.slots}}</li>
                    </ul>
                </td>
                <td class="mid-data-cell">
                    <ul>
                        <li>Fire: {{item.fire_res}}</li>
                        <li>Water: {{item.water_res}}</li>
                        <li>Thunder: {{item.thunder_res}}</li>
                        <li>Ice: {{item.ice_res}}</li>
                        <li>Dragon: {{item.dragon_res}}</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let skill of skillsMap">{{skill[0]}}: {{skill[1]}}</li>
                    </ul>
                </td>
            </tr>
        </table>
        <input type="button" value="EQUIP" class="equip-btn" (click)="onEquipBtnClick()">
    </div>
        
</div>