@import "../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import './../../../styles.scss';

.main-container {
    // background: white;
}

.nav-bg {
    background-color: $color1;
    padding: 5px 0 5px 0;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 16px solid #555;
	border-bottom: 8px solid transparent;
}


.positive-triangle {
    border-left-color: green;
}

.negative-triangle {
    border-left-color: red;
}

.search-form {
    margin-top: 10px;
}

.filters-bar {

    background-color: $color1;
    padding: 5px 1px 5px 3px;
    margin:0;

    *{
        color: white;
    }

    .navbar-toggler-icon{
        background-color: white;
        border-radius: 5px;
    }

    input {
        color: black;
        width: 70%;
        margin: 0 0 0 5px;
    }
}

.stats-filters-container {

    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 3;

    div {
        display: flex;
        /* justify-content: left;
        align-items: center; */
        flex-direction: row;
        justify-content: space-between;
        padding: 0 5px 2px 5px;

        input {
            width: 30%;
        }

    }
}

.armor-list-container {
    width: 90%;
}

@media screen and (min-width: 1270px) {

    .armor-items-container {
        margin: 0;
        padding: 0;
        // background-color: red;
        display: grid;
        grid-template-columns: 29% 29% 29%;
        gap: 20px;

        /* .armor-list-container {
            width: 10vw;
        } */
    }


}
