<!-- Navigation bar for filters with bootstrap -->
<div class="main-container">

    <nav class="navbar navbar-expand-lg nav-bg">
    <div class="container-fluid filters-bar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">List of {{partsToShow}}</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <div class="stats-filters-container">
            <div>
                <label for="minDefense">Rare &ge;</label>
                <input class="filterNumberInput" type="number" name="minRare" [(ngModel)]="minRareFilter" min="0" step="1" max="7">
            </div>
            <div>
                <label for="minDefense">Defense &ge;</label>
                <input class="filterNumberInput" type="number" name="minDefense" [(ngModel)]="minDefenseFilter" min="0" step="1">
            </div>
            <div>
                <label for="minDefense">Slots &ge;</label>
                <input class="filterNumberInput" type="number" name="minSlots" [(ngModel)]="minSlotsFilter" min="0" step="1" max="3">
            </div>
            <div>
                <label for="minDefense">Fire Res &ge;</label>
                <input class="filterNumberInput" type="number" name="minFireRes" [(ngModel)]="minFireResFilter" step="1" >
            </div>
            <div>
                <label for="minDefense">Water Res &ge;</label>
                <input class="filterNumberInput" type="number" name="minWaterRes" [(ngModel)]="minWaterResFilter" step="1">
            </div>
            <div>
                <label for="minDefense">Thunder Res &ge;</label>
                <input class="filterNumberInput" type="number" name="minThunderRes" [(ngModel)]="minThunderResFilter" step="1">
            </div>
            <div>
                <label for="minDefense">Ice Res &ge;</label>
                <input class="filterNumberInput" type="number" name="minIceRes" [(ngModel)]="minIceResFilter" step="1">
            </div>
            <div>
                <label for="minDefense">Dragon Res &ge;</label>
                <input class="filterNumberInput" type="number" name="minDragonRes" [(ngModel)]="minDragonResFilter" step="1">
            </div>
        </div>
        <form class="d-flex search-form" role="search">
          <input class="form-control me-2" type="search" placeholder="Search by name or skill" aria-label="Search"
          [(ngModel)]="searchInput" name="searchInput">
        </form>
      </div>
    </div>
  </nav>

  <!-- List of armor elemets -->

    <div class="armor-not-found" *ngIf="filteredArmorData.length == 0; else itemsListBlock">
    <h1>Data not found</h1>
    </div>
    <ng-template #itemsListBlock>
        <div class="armor-items-container">
            <div class="armor-list-container" *ngFor="let item of filteredArmorData">
                <app-armor-list-item
                  [item]="item"
                  [imagePath]="'../../../assets/ArmorIcons/'+part+'/rare'+item.rare+'.png'"
                  (equipEvent)="equipButtonEvent($event)"/>
            </div>
        </div>
    </ng-template>

</div>

<!-- <app-incompatible-modal /> -->

 <!-- Incompatibility Modal -->
 <div class="modal fade" id="incompatibilityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Incompatibility Detected!
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p style="color: red;">
            You have pieces of armor that aren't compatible with this one.<br>
            Check the class of your current armor pieces.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


   <!-- Comparation Modal -->
 <div *ngIf="armorToEquip" class="modal fade" id="comparationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header comp-modal-header">
           <p>{{armorToReplace.name !== "" ? armorToReplace.name : "None"}}</p>
           <div class="triangle-right"></div>
           <p>{{armorToEquip.name}}</p>
        </div>
        <div class="modal-body">
          <p class="table-title">Stats</p>
          <table class="comparation-table">
            <tbody>
              <tr *ngFor="let property of propertiesToCompareKeys">
                <td class="property-td">{{property}}</td>
                <td class="value-td">{{propertiesToCompare.get(property)?.[0] || 0}}</td>
                <td class="increment-td">
                  <div class="triangle-right"
                    [ngClass]="{
                    'positive-triangle': (propertiesToCompare.get(property)?.[2] === 0),
                    'negative-triangle': (propertiesToCompare.get(property)?.[2] === 2)
                  }">
                  </div>
                </td>
                <td class="value-td">{{propertiesToCompare.get(property)?.[1] || 0}}</td>
              </tr>
            </tbody>
          </table>
          <p class="table-title">Skills</p>
          <table class="comparation-table">
            <tbody>
              <tr *ngFor="let skill of skillsToCompareKeys">
                <td class="property-td">{{skill}}</td>
                <td class="value-td">{{skillsToCompare.get(skill)?.[0] || 0}}</td>
                <td class="increment-td">
                  <div class="triangle-right"
                    [ngClass]="{
                    'positive-triangle': (skillsToCompare.get(skill)?.[2] === 0),
                    'negative-triangle': (skillsToCompare.get(skill)?.[2] === 2)
                  }">
                  </div>
                </td>
                <td class="value-td">{{skillsToCompare.get(skill)?.[1] || 0}}</td>
              </tr>
            </tbody>
          </table>
          <p class="table-title">Resources</p>
          <table class="comparation-table">
            <tr *ngFor="let resource of resourcesForNewEquipKeys">
              <td class="property-td">{{resource}}</td>
              <td class="value-td">x{{resourcesForNewEquip.get(resource)}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer comp-modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"(click)="equipArmor()">Equip</button>
        </div>
      </div>
    </div>
  </div>
