<div *ngIf="armor != null"
class="modal fade" id="pieceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <img [src]="imgPath" alt="">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{armor ? armor.name : ""}}
          </h1>
          <span>
            <img src="../../../../assets/wepons/greatsword1.png" alt=""
            [style]="this.armor.class === 0 || this.armor.class === 2? 'display: block': 'display: none'">
            <img src="../../../../assets/wepons/lightbowgun1.png" alt=""
            [style]="this.armor.class === 1 || this.armor.class === 2? 'display: block': 'display: none'">
          </span>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body" data-bs-theme="dark">
          <div class="title"><h4>Stats</h4></div>
          <app-stats-box [armor]="[armor]"/>
          <div class="title rev"><h4 style="text-align: end;">Skills</h4></div>
          <app-skills-box [armor]="[armor]"/>
          <div class="title"><h4>Resources</h4></div>
          <app-resources-box [armor]="[armor]"/>
        </div>
        <div class="modal-footer my-modal-footer">
          <button type="button" class="btn btn-secondary" id="closeBtn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="removeBtn" data-bs-dismiss="modal" (click)="onRemovePressed()">Remove</button>
          <button type="button" class="btn btn-primary" id="changeBtn" (click)="onChangePressed()">Change</button>
        </div>
      </div>
    </div>
  </div>
  