@font-face {
    font-family: 'MonsterHunterFont';
    src: url('/assets/monsterhunterfont/monsterhunter.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonsterHunterFont';
    src: url('/assets/monsterhunterfont/monsterhunterital.ttf');
    font-weight: normal;
    font-style: italic;
}

$mh_font: 'MonsterHunterFont', Arial, Helvetica, sans-serif;