/* You can add global styles to this file, and also import other style files */

// COLORS

$background-dark-gradient: #181a1b;

$color1: #1E0342;
$color2: #0E46A3;
$color3: #9AC8CD;
$color4: #E1F7F5;


$fire_color: #EB5B00;
$water_color: #102C57;
$ice_color: #0F67B1;
$thunder_color: #FFC700;
$dragon_color: #5C2FC2;
$defense_color: #373A40;
$box-color: white;

*{
    padding: 0;
    margin: 0;
}

.flexdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolleable-div {
    overflow-y: auto;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
