<div class="stat-box">
    <div class="defense animated-bg">
        <div class="stat-container">
            <span class="stat-name">DEFENSE</span>
            <span class="stat-value">{{defense}}</span>
        </div>
    </div>
    <div class="fire animated-bg">
        <div class="stat-container">
            <span class="stat-name">FIRE</span>
            <span class="stat-value">{{fireRes}}</span>
        </div>
    </div>
    <div class="water animated-bg">
        <div class="stat-container">
            <span class="stat-name">WATER</span>
            <span class="stat-value">{{waterRes}}</span>
        </div>
    </div>
    <div class="thunder animated-bg">
        <div class="stat-container">
            <span class="stat-name">THUNDER</span>
            <span class="stat-value">{{thunderRes}}</span>
        </div>
    </div>
    <div class="ice animated-bg">
        <div class="stat-container">
            <span class="stat-name">ICE</span>
            <span class="stat-value">{{iceRes}}</span>
        </div>
    </div>
    <div class="dragon animated-bg">
        <div class="stat-container">
            <span class="stat-name">DRAGON</span>
            <span class="stat-value">{{dragonRes}}</span>
        </div>
    </div>
</div>