<div class="stat-box">
    <div class="defense">
        <div class="stat-container">
            <span class="stat-name">DEFENSE</span>
            <span class="stat-value">30</span>
        </div>
    </div>
    <div class="fire">
        <div class="stat-container">
            <span class="stat-name">FIRE</span>
            <span class="stat-value">30</span>
        </div>
    </div>
    <div class="water">
        <div class="stat-container">
            <span class="stat-name">WATER</span>
            <span class="stat-value">30</span>
        </div>
    </div>
    <div class="thunder">
        <div class="stat-container">
            <span class="stat-name">THUNDER</span>
            <span class="stat-value">30</span>
        </div>
    </div>
    <div class="ice">
        <div class="stat-container">
            <span class="stat-name">ICE</span>
            <span class="stat-value">30</span>
        </div>
    </div>
    <div class="dragon">
        <div class="stat-container">
            <span class="stat-name">DRAGON</span>
            <span class="stat-value">30</span>
        </div>
    </div>
</div>