@import './../../../../styles.scss';

$gradient_size: 3px;

.stat-box {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    background-color: $box-color;
    margin: 10px;
    padding: 5px;
    div {
        display: flex;
        width: 100%;
        //
        //justify-content: end;
    }
}

.stat-value {
    justify-self: end;

}

/* The animation code */
@keyframes animateBg {
    0% { background-position: 70% 0%; }
    100% { background-position: 0% 0%; }
  }
  

.animated-bg {
    animation-name: animateBg;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background-position: 100% 0%;
    background-size: 200% 100%;
}

.fire {
    color: $fire_color;
    padding-bottom: $gradient_size;
    background-image: linear-gradient(90deg, rgba(162,64,3,1) 0%, #ffff 50%);

}


.ice {
    color: $ice_color;
    // background: linear-gradient(90deg, rgba(33,61,84,1) 0%, rgba(15,103,177,1) 35%, rgba(15,103,177,0) 100%);
    background-image: linear-gradient(90deg, rgba(33,61,84,1) 0%, #ffff 50%);
    padding-bottom: $gradient_size;

}

.thunder {
    color: $thunder_color;
    // background: linear-gradient(90deg, rgba(88,69,2,1) 0%, rgba(255,199,0,1) 35%, rgba(255,199,0,0) 100%);
    background-image: linear-gradient(90deg, rgba(255,199,0,1) 0%, #ffff 50%);
    padding-bottom: $gradient_size;

}

.water {
    color: $water_color;
    // background: linear-gradient(90deg, rgba(10,27,54,1) 0%, rgba(16,44,87,1) 35%, rgba(16,44,87,0) 100%);
    background-image: linear-gradient(90deg, rgba(16,44,87,1) 0%, #ffff 50%);
    padding-bottom: $gradient_size;

}

.dragon {
    color: $dragon_color;
    //background: linear-gradient(90deg, rgba(66,45,116,1) 0%, rgba(92,47,194,1) 35%, rgba(92,47,194,0) 100%);
    background-image: linear-gradient(90deg, rgba(66,45,116,1) 0%, #ffff 50%);
    padding-bottom: $gradient_size;

}

.defense {
    color: $defense_color;
    // background: linear-gradient(90deg, rgba(30,31,32,1) 0%, rgba(55,58,64,1) 35%, rgba(55,58,64,0) 100%);
    background-image: linear-gradient(90deg, rgba(30,31,32,1) 0%, #ffff 50%);
    padding-bottom: $gradient_size;
}

.stat-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $box-color;
    padding-top: 5px;
}

.fire.animated-bg {
    animation-delay: 0.5s;
}

.water.animated-bg {
    animation-delay: 1s;
}

.thunder.animated-bg {
    animation-delay: 1.5s;
}

.ice.animated-bg {
    animation-delay: 2s;
}

.dragon.animated-bg {
    animation-delay: 2.5s;
}